@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --purple: #9C9AFF;
    --lav: #D5B5FF;
    --green: #93AD92;
    --blue: #87b5e3;
    --orange: #FF8B59;
    --easy: #CCFBC4;
    --medium: #FEDC84;
    --hard: #F99292;
}

body:not(#dashboard) {
    background-image: url(./assets/sunset.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#dashboard {
    background-color: var(--blue);
    /* background-color: var(--green); */
    font-family: 'Poppins', sans-serif;
}

#userStats {
    background-color: var(--lav);
    width: 70%;
    margin: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding-left: 20px;
}

#expBar {
    background-color: white;
    width: 50%;
    border: solid black 1px;
    border-radius: 11px;
}

#exp {
    background-color: var(--orange);
    width: 75%;
    border: solid black 0.5px;
    border-radius: 10px;
    margin: 0;
    height: 30px;
}

.habit {
    background-color: white;
    border: solid black 1px;
    border-radius: 11px;
    width: 60%;
    margin: 20px auto;
    display: flex;
}

.plus {
    width: 50px;
    flex-direction: row;
    background-color: var(--easy);
    border: solid 0.5px black;
    border-radius: 10px;
    text-align: center;
}

#addHabit {
    background-color: var(--lav);
    width: 70%;
    margin: auto;
    border: solid 1px black;
    border-radius: 20px;
    padding-left: 20px;
}

#difficulty, #frequency {
    display: flex;
    justify-content: center;
}

#difficulty > input[type='button'], #frequency > input[type='button'] {
    margin: 5px;
}

input[type='button'].easy {
    background-color: var(--easy);
    color: black;
}

input[type='button'].medium {
    background-color: var(--medium);
    color: black;
}

input[type='button'].hard {
    background-color: var(--hard);
    color: black;
}

input[type='button'].frequency {
    background-color: white;
    color: black;
}

input[type='submit']#create, input[type='submit']#update {
    background-color: var(--orange);
    color: black;
}

input[type='button']#delete {
    background-color: grey;
    color: black;
}

main {
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    border: solid black 0.5px;
}

form:not(#makePost) {
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    margin: 5px auto;
    width: 50%;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 25px;
}

input[type='submit'],input[type='button'] {
    width: 20%;
    background-color: var(--purple);
    color: white;
}

input[type='submit']:hover,input[type='button']:hover {
    width: 20%;
    background-color: white;
    color: var(--purple);
}

main p {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 20px;
} 

fieldset {
    border-top: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    padding: 0;
    font-size: 110%;
}

fieldset legend {
    padding: 5px 10px;
}

#makePost {
    background-color: var(--orange);
    padding: 15px;
    border: solid black 1px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    position: relative; /**/
}

textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
}

#publish {
    width: 15%;
}

#out {
    background-color: var(--purple);
    color: white;
    border: solid white 1px;
    width: 10%;
    position: absolute;
    top: 20px;
    right: 10px;
}

#out:hover {
    background-color: white;
    color: var(--purple);
}

.post { /*allPosts*/
    background-color: white;
    padding: 5px 15px;
    border: solid black 1px;
    border-radius: 10px;
    width: 50%;
    margin: 15px auto;
    position: relative; 
}

/* .author {
    position: absolute;
    top: 45px;
    right: 20px;
} */

